// Your variable overrides
$primary: #4DBA87;
$secondary: #9e9e9e;
$light: #eeeeee;
$body-bg: #fafafa;
$border-radius: 2px;
$table-cell-padding: 0.3rem;

// Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap';
// BootstrapVue and its default variables
@import '~bootstrap-vue/src/index.scss';